.App {
  text-align: center;
}
.nav{
  background-color: aqua;
}
.nav-links{
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: black;
  color: white;
  list-style: none;
}

.nav-links li{
  color: white;
}
.items{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
  justify-content: space-between;

}
.sportTitle{
  color: white;
}
img{
  width: 100%;
  max-width: 100%;
}
.titleSingle{
  color: red;
}
.source{
  color: black;
  font-weight: 800;
}

@media(min-width:320px){
  .itemSport{
    width: 100%;
    max-width: 100%;
    border: 1px solid black;
    background-color:gray;
    color: white;
    margin-bottom: 20px;
   
  }
}
@media(min-width:450px){
  .itemSport{
    width: 49%;
    max-width: 49%;
  }
}
@media(min-width:560px){
  .itemSport{
    width: 32%;
    max-width: 32%;
  }
}
@media(min-width:768px){
  .itemSport{
    width: 24%;
    max-width: 24%; 
  }
}
@media(min-width:992px){
  .itemSport{
    width: 19%;
    max-width: 19%;
  }
}